@model IEnumerable<Blog.Entity.Post>

@foreach(var blog in Model)
{  
  <div class="blog-component card mt-3" >
    <div class="row g-0">
      <div class="col-md-5">
        <div class="image-container">
          <a asp-controller="Blogs" asp-action="Details" asp-route-id="@blog.PostId">
            <img src="@Url.Content(blog.PostImage)" class="img-fluid" alt="@blog.Title">
          </a>
          
      </div>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">@blog.Title</h5>
          <p class="card-text ">@Html.Raw(@blog.Content.Substring(0, Math.Min(80, blog.Content.Length)))...</p>
          <div class="mt-auto">
            <a href="#" class="btn btn-primary">Primary Tag</a>
          </div>
        </div>
      </div>
    </div>
  </div>
}