@model List<Blog.Entity.Post>
    @{
        var firstPost = Model.FirstOrDefault();
        var remainingPosts = Model.Skip(1).ToList();
    }
    <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            @if (firstPost != null)
            {
                <div class="carousel-item active">
                    <div class="carousel-card card">
                        <div class="img-wrapper">
                            <img src="@Url.Content(firstPost.PostImage)" class="d-block w-100" alt="@firstPost.Title">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@firstPost.Title</h5>
                            <p class="carousel card-text short-text">@firstPost.Content.Substring(0, Math.Min(150, firstPost.Content.Length))...</p>
                            <p class="carousel card-text long-text">@firstPost.Content</p>
                            <a href="#" class="btn btn-primary">Primary Tag</a>
                        </div>
                    </div>
                </div>
            }
            
            @foreach (var post in remainingPosts)
            {
                <div class="carousel-item">
                    <div class="carousel-card card">
                        <div class="img-wrapper">
                            <img src="@Url.Content(post.PostImage)" class="d-block w-100" alt="@post.Title">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="carousel card-text short-text">@post.Content.Substring(0, Math.Min(150, post.Content.Length))...</p>
                            <p class="carousel card-text long-text">@post.Content</p>
                            <a href="#" class="btn btn-primary">Primary Tag</a>
                        </div>
                    </div>
                </div>
            }
    
        </div>
    
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

