@model BlogDetailsViewModel

<head>
    <link rel="stylesheet" href="~/css/blogs/blog-detail.css" asp-append-version="true" />
</head>
<div class="blog-detail container-fluid mt-4">
    <div class="row">
        <div class="blog-detail-wrapper col-md-6">
            <h2>@Model.Blog.Title</h2>
            <div class="tags">
                @foreach (var tag in Model.Tags)
                {
                    <a href=""><span class="tag">@tag.Name</span></a>
                }
            </div>
            

            <div class="blog-img-wrapper">
                <img src="@Url.Content(Model.Blog.PostImage)" class="post-image" alt="@Model.Blog.Title">
                <div>
                    @if(Model.Blog.User != null)
                    {
                        <h6>
                            <a href="/profile/@Model.Blogger.UserName">@Model.Blogger.UserName</a>
                            <small>@Model.Blog.CreatedDate.ToString("G")</small> <!-- Blog oluşturma tarihi -->
                        </h6>
                    }
                    
                </div>
            </div>
            <div class="main-idea">
                @Model.Blog.Content.Substring(0, Math.Min(120, Model.Blog.Content.Length))
            </div>
            <div class="writing">
                @Model.Blog.Content 
                <p>Ut mollitia non voluptates aliquam enim. Et minus adipisci consequuntur corporis et rerum velit ea. Animi at id id voluptas harum. Ut mollitia non voluptates aliquam enim. Et minus adipisci consequuntur corporis et rerum velit ea. Animi at id id voluptas harum</p>
            </div>

            <div class="comments">
                <div class="card border-0">
                    <div class="card-header pb-0">
                        @if (Model.Comments.Count() > 0)
                        {
                            <h4>@Model.Comments.Count() adet yorum</h4>
                        }
                        else {
                            <h4>Henüz yorum yapılmamış.</h4>
                        }
                        
                    </div>
                </div>
                <div class="comment-body">
                    @foreach(var comment in Model.Comments)
                    {
                        <div class="single-comment my-3 d-flex ">
                            @if (comment.User != null) // Kullanıcı null değilse devam et
                            {
                                <img src="@Url.Content(comment.User.ProfilePhoto)" alt="" class="avatar rounded-circle float-start me-3">
                                <div>
                                    <div class="mb-2 d-flex">
                                        <h6 class="me-2">
                                            <a href="/profile/@comment.User.UserName">@comment.User.UserName</a>
                                        </h6>
                                        <small>@comment.CreatedDate.ToString("G")</small>
                                    </div>
                                    <p>@comment.Text</p>
                                </div>
                            }
                        </div>
                    }
                </div>



                <div class="make-comment">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h5 class="mb-3" onclick="OnOff()">Yorum Ekle</h5>
                        <form action="" method="post">
                            <input type="hidden" id="" name="" value="">
                            <div class="mb-3">
                                <label for="Text" class="form-label">Yorum</label>
                                <textarea type="text" name="Text" id="Text" rows="3" class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                <button id="btnYorumKayit" type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </form>
                    } else {
                        <p class="text-danger">Yorum eklemek için lütfen <a asp-controller="Users" asp-action="Login">giriş yapın</a>.</p>
                    }

                </div>
            </div>
        </div>
    


        <!-- Sağ Sidebar -->
        <div class="sidebar col-md-3">
            <h3>Son Eklenenler</h3>
            @await Component.InvokeAsync("NewestPosts")
        </div>
    </div>
</div>

<script>
    function OnOff() {
    
        var form = document.querySelector('.make-comment form');
        if (form.style.display === "none") {
            form.style.display = "block"; // Formu aç
        } else {
            form.style.display = "none";  // Formu kapat
        }
}
</script>