@model IEnumerable<Blog.Models.BestBloggerViewModel>

  @foreach (var blogger in Model)
  {
    <div class="blogger-component card">
        <div class="card-body">
          <h6 class="card-title">@blogger.FullName</h6>
          <div class="user-info d-flex align-items-center">
            <img src="@Url.Content(blogger.ProfilePhoto)"style="display: block; width: 5rem;" alt="@blogger.FullName MUTU-Blog Profile Picture">
            
            <div class="div m-2">
              <a class="card-text" asp-controller="Users" asp-action="Profile" asp-route-username="@blogger.UserName"><i class="bi bi-at"></i>@blogger.UserName</a>
              <h6 class="card-text">Blog sayısı: @blogger.PostCount</h6>
            </div>
          </div>
          <a href="mailto:@blogger.Email">Email</a>
          <a href="@blogger.LinkedInProfile">Linkedin</a>
        </div>
      </div>
    
  }